@font-face {
    font-family: game-font;
    src: url("LanaPixel.ttf")
}

body {
    background-color: #eee;
}

.content {
    font-family: "game-font";
}

.content p {
    padding-left: 20px;
    padding-top: 20px;
    color: #131313;
}

.content button {
    border-radius: 10px;
    font-family: "game-font";
}

.content img {
    width: 100%;
    height: 100%;
}